body {
    margin: 0px;
}

#content img {
    max-width: 50%;
    max-height: 50%;
    cursor: pointer;
    float: left;
}

#content img.hide {
    opacity: 0;
    transition: 0.5s;
}

#content img.show {
    opacity: 255;
    transition: 0.5s;
}

#content img:hover {
    box-shadow: 0px 0px 0px 2px #2196F3;
    transition: 0.5s;
    transform: scale(0.99);
}

#footer {
    position: fixed;
    height: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #f3f3f3;
    box-shadow: 0px 0px 9px 0px #607D8B;
}


#footer .button {
    float: right;
    padding: 3px 6px;
    background: #00af2c;
    border-radius: 4px;
    color: white;
    margin: 3px 5px;
    user-select: none;
    cursor: pointer;
}

#footer .button:hover {
    background: #068506;
    transition: 0.5s;
}

#footer .preferences {
    float: left;
    width: 22px;
    height: 22px;
    padding: 4px 6px;
}

#footer .preferences:hover {
    transform: rotate(360deg);
    cursor: pointer;
    transition: 0.2s;
}

.options {
    cursor: pointer;
    max-width: 48px;
}

.options:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

table .swal2-select,
table .swal2-input {
    width: 80%;
    height: 30px;
    text-align: center;
    text-align-last: center;
    margin: 0px;
    padding: 0 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}
